// home page
.menu button {
    margin: 10px;
    border-radius: 20px;
    width: 100%;
    height: 70px;
}



.restaurant img {
    border-radius: 15px;
    width: 100%;
}

.restaurant figure {
    height: 350px;
    text-align: left;
    font-size: 20px;
    text-indent: 0;
    border: thin silver solid;
    margin: 0.5em;
    padding: 0.5em;
    background-color: white;
    border-radius: 25px;
}

.restaurant figcaption {
    margin: 10px;
}

figure .material-icons {
    float: right;
}
// the full palette
img {
    width: 100%;
    display:block;
}

.paletteMenu {
    background-color: $background-grey;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    width: 100%;
    margin-top: -15%;
    overflow: hidden;
    position: absolute;
    margin-left: -5px;
    display: block;
}

.paletteMenu h2 {
    margin-left: 10%;
    font-size: 40px;
}

.header {
    margin-left: 25px;
    font-weight: normal;
    text-decoration: underline;
    
}

.material-icons {
    margin-left: 25%;
    font-size: 50%;
}

.entreeMenu {
    background-color: white;
    border-radius: 10px;
    margin-left: 15px;
    margin: 20px;
}

#text {
    display: block;
    margin-left: 20px;
    line-height: 5px;
    overflow: hidden;
  
}



#text span {
    float: right;
    padding-right: 20px;
}

.paletteMenu button {
    background-image: $background-image;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 25px;
    margin-left: 120px;
    margin-top: 80px;
    width: 50%;
    position: relative;
    bottom: 50px;
}


